.item1{
    
    background-color: blue;
    flex-grow: 1;
    flex-basis: 400px;
    flex-shrink: 1;
}
.item2{
    
    background-color: chartreuse;
    flex-grow: 1;
    flex-basis: 400px;
    flex-shrink: 3;
}
.item3{
    
    background-color: brown;
   flex: 1 1 400px;

}
.item4{
    background-color: aqua;
    flex-grow: 1;

}
.container{
border: 1px solid #ccc; 
display: flex;
width: 100%;

}
.box{
    
    height: 150px;
}
h1{
    text-align: center;
}